.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 4px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 23px -7px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 23px -7px rgba(0,0,0,0.75);
}
.sharewraper{
    padding: 10px;
}
.shareTop{
    display: flex;
    align-items: center;
}
.shareprofile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.shareinput{
    border: none;
    width: 80%;
}
.shareinput:focus{
    outline: none;
}
.sharehr{
    margin:20px ;
}
.shareBottom{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.shareOptions{
    display: flex;
    margin-left: 20px;
}
.shareicon{
    display:flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.shareicon{
    font-size:18px;
    margin-right: 3px;
}
.ShareOptionText{
    font-size: 14px;
    font-weight: 500;
}
.sharebutton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;


}