.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}
.sidebarWraper{
    padding: 20px;
}
.sidebarllist{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebarlistiem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebaricon{
    margin-right: 15px;
}
.sidebarbutton{
     width: 150px;
     border: none;
     padding: 10px;
     border-radius: 5px;
     font-weight: bold;
}
.sidebarhr{
    margin:20px 0 ;
}
.sidebarFriendlist{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarfriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarFriendimage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}